<a href="https://colab.research.google.com/github/wcharlesknight/PYTH225_Homework/blob/master/Charlie_HW1_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
  a = None

IndentationError: ignored



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.
a = 2 
print(a) # reads 2


# Create another variable that represents your favorite color, and do the same steps as above.

b = "red"
print(b) # reads red

2
red



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.
lyrics = """
ill tell you something you need to know
nothing i can say from the phone
ill tell you something, we have to 'cause
youre the one that i miss the most 
"""
print(lyrics)

ill tell you something you need to know
nothing i can say from the phone
ill tell you something, we have to 'cause
youre the one that i miss the most

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

latest_score = latest_score + 50
print(latest_score)

# Subtract 90

latest_score = latest_score - 90
print(latest_score)
# Multiply 10

latest_score = latest_score*10
print(latest_score)

# Divide 150

latest_score = latest_score / 150
print(latest_score)
# Modulus 3

latest_score = latest_score %3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 
a = 'ill go to the beach'
b = ' someday'
print(a + b)

ill go to the beach someday



### P3.PY

In [10]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

print(a+b)

# B)
c = '0'
d = '2'

print(int(c+d))

# C)
e = '0'
f = 2

try:
  sum_ef = e + f
except TypeError as t:
  print("e and f are not the same type!")
  print(t)
except Exception as e:
  print(e)

2
2
e and f are not the same type!
must be str, not int



### P4.PY

In [9]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

true_to_int = int(True)
a = true_to_int
b = true_to_int
print(a+b)

# B)
c = False
d = False

false_to_int = int(False)
false_to_int = c
false_to_int = d
print(c+d)

# C)
e = True
f = False

true_to_int = int(True)
false_to_int = int(False)
e = true_to_int
f = false_to_int
print(e+f)

2
0
1

## TYPECASTING

### P1.PY

In [15]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five = float(5)
zero = float(0)
neg_8 = float(-8)
neg_22 = float(-22)

print(five)
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(neg_22)
print(type(neg_22))

five = int(5)
zero = int(0)
neg_8 = int(-8)
neg_22 = int(-22)

print(five)
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(neg_22)
print(type(neg_22))

5.0
<class 'float'>
0.0
<class 'float'>
-8.0
<class 'float'>
-22.0
<class 'float'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
-22
<class 'int'>



### P2.PY

In [36]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five = str(five)
print(five)
print(type(five))
zero = str(zero)
print(zero)
print(type(zero))
neg_8 = str(neg_8)
print(neg_8)
print(type(neg_8))
T = str(T)
print(T)
print(type(T))
F = str(F)
print(F)
print(type(F))

five = int(five)
print(five)
print(type(five))
zero = int(zero)
print(zero)
print(type(zero))
neg_8 = int(neg_8)
print(neg_8)
print(type(neg_8))
T = bool(T)
print(T)
print(type(T))
F = bool(F)
print(F)
print(type(F))

5
<class 'str'>
0
<class 'str'>
-8
<class 'str'>
True
<class 'str'>
False
<class 'str'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
True
<class 'bool'>
True
<class 'bool'>



### P3.PY

In [39]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(one)
zero = bool(zero)
print(one)
print(type(one))
print(zero)
print(type(zero))
# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
one = float(one)
zero = float(zero)
print(one)
print(type(one))
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
one = bool(one)
zero = bool(zero)
print(one)
print(type(one))
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
one = int(one)
zero = int(zero)
print(one)
print(type(one))
print(zero)
print(type(zero))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

ten = bool(ten)
print(ten)
print(type(ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [40]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

one = bool(one)
zero = bool(zero)
print(one)
print(type(one))
print(zero)
print(type(zero))
print(T)
print(type(T))
print(F)
print(type(F))
# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)
print(one)
print(type(one))
print(zero)
print(type(zero))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

print(T)
print(type(T))
print(F)
print(type(F))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [32]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'apple'
item_name_2 = 'bananna'
item_name_3 = 'strawberries'
item_name_4 = 'chicken'
item_name_5 = 'beef'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 1.99
item_price_2 = 2.10
item_price_3 = 2.50
item_price_4 = 5.50
item_price_5 = 6.75

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 1
item_quant_2 = 2
item_quant_3 = 3
item_quant_4 = 4
item_quant_5 = 5

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

1.99



### P2.PY

In [25]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:


	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('Name your first item: ')
item_name_2 = input('Name your second item: ')
item_name_3 = input('Name your third item: ')
item_name_4 = input('Name your fourth item: ')
item_name_5 = input('Name your fifth item: ')


item_price_1 = input('what is price item 1?: ')
item_price_2 = input('what is price item 2?: ')
item_price_3 = input('what is price item 3?: ')
item_price_4 = input('what is price item 4?: ')
item_price_5 = input('what is price item 5?: ')

# use input() function and ask user to name quants
item_quant_1 = input('how many of item 1?: ')
item_quant_2 = input('how many of item 2?: ')
item_quant_3 = input('how many of item 3?: ')
item_quant_4 = input('how many of item 4?: ')
item_quant_5 = input('how many of item 5?: ')

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

Name your first item: berry
Name your second item: strat
Name your third item: cheese
Name your fourth item: goats
Name your fifth item: corn

KeyboardInterrupt: ignored