<a href="https://colab.research.google.com/github/wcharlesknight/PYTH225_Homework/blob/master/HW3_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [2]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.
animals = ['elephant','tiger','otter','orangutan','penguin']
print(animals)

# Print the 4th animal on the list.

animals[3]

# Add 'tortoise' to the beginning of the list.

animals.insert(0, 'tortoise')
print(animals)


# Print the length of the list.
print(len(animals))

# Remove 'orangutan' from the list.

animal_left = animals.pop(3)
print(animals)
print(animal_left)

# Sort the list alphabetically and print it out.

animals.sort()
print(animals)

['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['tortoise', 'elephant', 'tiger', 'orangutan', 'penguin']
otter
['elephant', 'orangutan', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [14]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ['charlie', 'regan','jake','harry','adam']
print(len(names))

# Print the 3rd name on the list

print(names[4])
# Delete the first name on the list

no_charlie = names.pop(0)
print(names)

# Re-add the name you deleted to the end of the list

add_charlie = names.append('charlie')
print(names)

# Replace the 2nd name on the list with a new name.

names.insert(1, 'justin')
print(names)

# Add 3 new names to the end of the list.

more_names = ('jerry','alice','margaret')
names.extend(more_names)
 
print(names)

5
adam
['regan', 'jake', 'harry', 'adam']
['regan', 'jake', 'harry', 'adam', 'charlie']
['regan', 'justin', 'jake', 'harry', 'adam', 'charlie']
['regan', 'justin', 'jake', 'harry', 'adam', 'charlie', 'jerry', 'alice', 'margaret']



### P3.PY

In [29]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2, 4, 6, 8]

# Print the max of `numbers`.
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

numbers.pop(3)
print(numbers)
numbers.insert(2, 8)
print(numbers)

# Pop the second number in `numbers` off.

numbers.pop(1)
print(numbers)
# Append `3` to `numbers`.

numbers.append(3)
print(numbers)
# Print out the average number.

average = sum(numbers)/len(numbers)
print(average)

8
[2, 4, 6]
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, 3]
4.75



## SORTING

### P1.PY

In [64]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.

playlist_titles.reverse()
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [147]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.
import random
numbers = [random.randint(0,100) for i in range(6)]
numbers.sort(reverse = True)
print(numbers)

[83, 79, 68, 64, 57, 8]

## LIST MANIPULATION

### P1.PY

In [103]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.158.0153'
phone = cell.split('.')
last4 = phone[-1]
middle3 = phone[-2]
first3 = phone[-3]
first_digit = phone[-4]

if all(char.isdigit() for char in last4) and all(char.isdigit() for char in middle3 
)and all(char.isdigit() for char in first3) and all(char.isdigit() for char in first3
)and all(char.isdigit() for char in first_digit):
  print('valid phone number')
else:
  print('not a valid phone number')
print(cell)
# if last4 contand len(middle3) != 3 and len(first3) != 3 and len(first_digit) != 1:
#   print('an American phone number')
# else:
#   print("Valid Number")

valid phone number
1.192.158.0153



### P2.PY

In [148]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = my_max - my_min
my_mean = my_sum / len(nums)

print(my_sum)
print(my_min)
print(my_max)
print(my_range)
print(my_mean)		
# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

174
2
30
28
17.4



### P3.PY

In [140]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.

list3 = list1 + list1
print(list3)


# # B) Combine the two given lists and assign them to list4.
list4 = list1 + list2
print(list4)


# # C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:3] = [13,16,9]
print(list3)

# # D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list3 + list4
list5 = list(set(list5))
print(list5)


# # Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6, 2, 8, 6]
[2, 8, 6, 10, 4, 12]
[13, 16, 9, 2, 8, 6]
[2, 4, 6, 8, 9, 10, 12, 13, 16]



### P4.PY

In [169]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
  'Get', 'on', 'up.',
  'It\'s', 'bobsled', 'time!'
]

cool_runnings[-2] = 'YOLO'


new_cool = ' '.join(cool_runnings)
spl_cool = new_cool.split('.')
line1 = spl_cool[0]
line2 = spl_cool[1]
line3 = spl_cool[2]
line4 = spl_cool[3]

print(line1)
print(line2)
print(line3)
print(line4)

Feel the rhythm
 Feel the rhyme
 Get on up
 It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [196]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]
tuple_1 = list(tuple1[0])
tuple_2 = list(tuple1[1])
tuple_3 = list(tuple1[2])

list1.append(tuple_1[0])
list1.append(tuple_1[1])
list1.append(tuple_2[0])
list1.append(tuple_2[1])
list1.append(tuple_3[0])
list1.append(tuple_3[1])

print(list1)

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]



### P2.PY

In [8]:
"""
CHALLENGE - Core Statistics Calculations
"""
from collections import Counter
import math

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]
# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
n = len(sample)
sample.sort()
data = Counter(sample)

# mean

mean = sum(sample)/len(sample)

# median
if n % 2 == 0: 
    median1 = sample[n//2] 
    median2 = sample[n//2 - 1] 
    my_median = (median1 + median2)/2
else: 
    my_median = n_num[n//2] 
# mode
my_mode = dict(data)
mode = [k for k, v in my_mode.items() if v == max(list(data.values()))] 
  
if len(mode) == n: 
    my_mode = "No mode found"
else: 
    my_mode = "Mode = " + ', '.join(map(str, mode)) 
      		
print('Median =',my_median)
print(my_mode) 

my_variance = sum((x - mean) ** 2 for x in sample) / len(sample)

print('Variance =',my_variance)
my_sd = math.sqrt(my_variance)

print('Standard Deviation=',my_sd)



# Once you finish, print out each value **on its own line** in this format: "median = " etc.

Median = 19.5
Mode = 6
Variance = 75.75999999999999
Standard Deviation= 8.704022058795577