<a href="https://colab.research.google.com/github/wcharlesknight/PYTH225_Homework/blob/master/HW4_Charlie_loop_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [3]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

odds = []
evens = []

i = 1

while i <= 10:
  if i % 2 != 0:
    odds.append(i)
  else:
    evens.append(i)
  i += 1

print(odds)
print(evens)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]



### P2.PY

In [12]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

print(a)
# Using a loop, remove the duplicate items from list a and print out the updated list.
new_a = []
for digit in a:
  if digit not in new_a:
    new_a.append(digit)
print(new_a)

# Using a loop, merge list b into list a without adding any duplicates.

for digit in b:
  if digit not in new_a:
    new_a.append(digit)
print(new_a)

[2, 4, 10, 20, 5, 2, 20, 4]
[2, 4, 10, 20, 5]
[2, 4, 10, 20, 5, 13, 25, 8]



### P3.PY

In [14]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature 
# at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called 
# sample_temps so that the conversion of each day's temperature is easily accessible. 
# For reference, the conversion equation between F and C is:


sampleC = {}
for index, f in enumerate(sampleF):
  c = (f - 32)* 5.0/9.0
  sampleC.update({index:c})
  print('Day', index,'Celius =', c,'Farhenheit =',f)


sample_temps = dict(zip(sampleF,sampleC))

Day 0 Celius = 21.999999999999996 Farhenheit = 71.6
Day 1 Celius = 28.000000000000004 Farhenheit = 82.4
Day 2 Celius = 33.0 Farhenheit = 91.4
Day 3 Celius = 42.0 Farhenheit = 107.6
Day 4 Celius = 52.0 Farhenheit = 125.6

### P4.PY

In [34]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""
for x in range(100):
  if (x / 7).is_integer() and x != 0:
    print(x, 'this is a multiple of 7')

7 this is a multiple of 7
14 this is a multiple of 7
21 this is a multiple of 7
28 this is a multiple of 7
35 this is a multiple of 7
42 this is a multiple of 7
49 this is a multiple of 7
56 this is a multiple of 7
63 this is a multiple of 7
70 this is a multiple of 7
77 this is a multiple of 7
84 this is a multiple of 7
91 this is a multiple of 7
98 this is a multiple of 7



### P5.PY

In [44]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""

for x in range(6):
 if x == 3:
   continue
 print(x)

0
1
2
4
5

## FACTORS



### P1.PY

In [59]:
"""
Factorial
"""

# Find the factorial of a number input by a user. 
# Then print out the factors within the factorial and then print out the actual numeric answer. 
# Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""



user_input = int(input('Enter a number to find its factorial:'))
factorial = 1
for x in range(1, user_input + 1):
  factorial = factorial * x
  print(f'{user_input}! =',f'{x}*',end='')
print('\n',user_input,'! =',factorial)
 



print('couldnt figure out formatting')

Enter a number to find its factorial:7
7! = 1*7! = 2*7! = 3*7! = 4*7! = 5*7! = 6*7! = 7*
 7 ! = 5040
couldnt figure out formatting



### P2.PY

In [98]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 
# 'The factors of <the_user_input_number> are: '.

user_input = int(input('Enter a number to find its factors: '))
x = 1 
print(f'The factors of {user_input} are')

while x <= user_input:
  if user_input % x == 0:
    print(x)
  x = x + 1

Enter a number to find its factors: 25
The factors of 25 are
1
5
25



### P3.PY

In [107]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. 
# Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = int(input('First number: '))
user_input2 = int(input('Second number: '))

i = 1
while(i <= user_input1 and i <= user_input2):
  if user_input1 % i == 0 and user_input2 % i == 0:
    gcd = i
  i += 1

print(f'The greatest common demoinator of {user_input1} and {user_input2} is',gcd)

Enter two numbers to find their greatest common denominator.
First number: 45
Second number: 55
The greatest common demoinator of 45 and 55 is 5

## SHAPES

### P1.PY

In [109]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
for i in range(5):
   for j in range(i + 1):
      print('*', end="")
   print()

*
**
***
****
*****

### P2.PY

In [112]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
num_rows = 5
row = 0 
while row < num_rows:
  x = row + 1
  while x > 0:
    print('*',end='')
    x -= 1
  row += 1
  print()

*
**
***
****
*****



### P3.PY

In [100]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********
"""
def full_pyramid(rows):
    for i in range(rows):
        print(' '*(rows-i-1) + '*'*(2*i+1))
full_pyramid(5)

    *
   ***
  *****
 *******
*********

### P4.PY

In [104]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
i=1
while i<6:
    if i==1:
        print(' '*(6-i) + '*')
    else:
        print(' '*(6-i) + '*'*i + '*'*(i-1))
    i+=1

     *
    ***
   *****
  *******
 *********



### P5.PY

In [101]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""
def full_pyramid(rows):
    for i in range(rows):
        print(' '*(rows-i-1) + '*'*(2*i+1))

def inverted_pyramid(rows):
    for i in reversed(range(rows)):
        print(' '*(rows-i) + '*'*(2*i+1))

full_pyramid(5)
inverted_pyramid(4)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### P6.PY

In [107]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""
rows = 5
columns = 2*rows -1
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( (columns//2)-i <= j <= (columns//2)  +i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1
    
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( i <= j <= columns-1 -i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

## LOOP_CHALLENGES

### P1.PY

In [115]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: 
# At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""
import re
specialchar = '$#@'
p = input('Input your password: ')
if len(p) < 6 and len(p) > 16:
   print('length has to be between 6 and 16')
elif re.search('[0-9]',p) is None:
   print('has to have at least 1 number')
elif re.search('[A-Z]',p) is None:
   print('has to have at least 1 upper case')
elif re.search('[a-z]',p) is None:
   print('has to have at least 1 lower case')
elif any(specialchar) is None :
   print ('has to have at least a $#@')
else:
   print('password is valid!')

# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")

Input your password: factS-1
password is valid!



### P2.PY

In [131]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. 
# If it is NOT a prime number, print out that it is not a prime number. 
# If it IS a prime number, print out that it is a prime number and give an example of two of its factors. 
# Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12

factorial = 1
for x in range(1, user_input + 1):
  factorial = factorial * x

user_input = int(input("Enter a number to check if it's prime: "))
count = 0

for i in range(2, (user_input//2 + 1)):
    if(user_input % i == 0):
        count = count + 1
        break

if (count == 0 and user_input != 1):
    print(" %d is a Prime Number" %user_input)
else:
    print(" %d is not a Prime Number" %user_input,'factors are: ')

Enter a number to check if it's prime: 68
 68 is not a Prime Number