<a href="https://colab.research.google.com/github/wcharlesknight/PYTH225_Homework/blob/master/HW5_Charlie_dict_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  DICTS

## BASICS

### P1.PY

In [0]:
"""
Intro to Dict Concepts
"""

# A) Declare an empty dict as d1.

d1 = {}


# B) Create a dict called d2 containing the first and last names below:
# Anthony Paollelo, Ping Qiao, Enrique Alvarez, Arjun Dhir 

d2 = {
    'anthony' : 'paollelo',
    'ping':'qiao',
    'enrique' : 'alvarez',
    'arjun'   : 'dhir'
}

# C) Add Allison Zhang person to d2.

d2['allison'] = 'zhang'

# D) How many people are now in d2? Print out all their *first* names in the vars below.

num_people = len(d2)
print(num_people)

for first_names in d2:
  print(first_names)

# E) Delete a random person from d2 and print his/her name in the var below.

del d2['allison']

print(d2)
x = {'allison': 'zhang'}


# F) Re-add the name you deleted to the end of d2.

d2.update(x)
print(d2)

5
anthony
ping
enrique
arjun
allison
{'anthony': 'paollelo', 'ping': 'qiao', 'enrique': 'alvarez', 'arjun': 'dhir'}
{'anthony': 'paollelo', 'ping': 'qiao', 'enrique': 'alvarez', 'arjun': 'dhir', 'allison': 'zhang'}



### P2.PY

In [0]:
"""
Predators & Prey
"""

# A) Create a dict called "pred_prey", containing:
### 3 carnivorous marine animals
### For each carnivore, 3 examples of its prey

pred_prey = {
    'whale':{'krill','plankton','squid'},
    'shark':{'rainbow fish', 'octopus','tuna'},
    'dolphin':{'mackeral','sea lion','turtle'}
}

print(pred_prey)

# B) Print out the 2nd predator and its prey in this format:

print(pred_prey['shark'])


prey = pred_prey.values()
print(prey)

{'whale': {'krill', 'squid', 'plankton'}, 'shark': {'octopus', 'rainbow fish', 'tuna'}, 'dolphin': {'sea lion', 'mackeral', 'turtle'}}
{'octopus', 'rainbow fish', 'tuna'}
dict_values([{'krill', 'squid', 'plankton'}, {'octopus', 'rainbow fish', 'tuna'}, {'sea lion', 'mackeral', 'turtle'}])



### P3.PY

In [0]:
"""
Merging Dicts
"""

# Merge these two dicts without creating a new one.

d1 = {'a': 100, 'b': 200}
d2 = {'c': 300, 'd': 400, 'e': 500}

d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}



### P4.PY

In [0]:
"""
Lists to Dicts
"""

# Turn these two lists into a dict called grades.

names = ['Taq', 'Zola', 'Valerie', 'Valerie']
scores = [[98, 89, 92, 94], [86, 45, 98, 100], [100, 100, 100, 100], [76, 79, 80, 82]]

grades = zip(names,scores)

for x in grades:
  print(x)

('Taq', [98, 89, 92, 94])
('Zola', [86, 45, 98, 100])
('Valerie', [100, 100, 100, 100])
('Valerie', [76, 79, 80, 82])

## DICT MANIPULATION

### P1.PY

In [0]:
"""
Basic Login
"""

# Imagine you work for a movie streaming service. You're in charge of safeguarding user privacy by ensuring the login feature remains secure. 
# For the sake of example only, below is the dict of user login info. Normally, you wouldn't have access to see this unencrypted of course!

users = {
	'person@email.com': 'PassWord',
	'someone@email.com': 'hiitsme',
	'me@email.com': 'myPassword',
	'anyone@email.com': 'IMawesome',
	'guy@email.com': 'pa$$wordz'
	# etc
}




# A user enters the below login info (email and password) for your app. 
# Search your database of user logins to see if this account exists and if the password matches what you have on file. 
# If the login credentials are correct, print "Successful login!". Otherwise, print "The login info you entered does not match any of our records."

current_user = { 'me@email.com': 'myPassword' }

for name, password in current_user.items():
	if name not in users:
		print('Login info entered does not match our records')
	if name in users:
		if password != users[name]:
			print('Login info entered does not match our records')
		else:
			print('Successful login!')

Successful login!



### P2.PY

In [0]:
"""
Math with Girl Scout Cookies
"""

# Print out the number of boxes of girl scout cookies that each girl in the troop sold in the below format:
	# Wendy: _____
	# Connie: _____
	# Francesca: _____

Wendy = {'tagalongs': 5, 'thin mints': 12, 'samoas': 8}
Connie = {'tagalongs': 10, 'thin mints': 4, 'samoas': 12}
Francesca = {'tagalongs': 18, 'thin mints': 14, 'samoas': 10}

salesW = sum(Wendy.values())
salesC = sum(Connie.values())
salesF = sum(Francesca.values())
print('Wendy:',salesW)
print('Connie:',salesC)
print('Francesca:',salesF)

# For each type of girl scout cookie, print out the total number of boxes sold in the below format:

tagalongs = []
thin_mints = []
samoas = []

for x in Wendy['tagalongs'],Connie['tagalongs'],Francesca['tagalongs']:
	tagalongs.append(x)
total_tagalongs = sum(tagalongs)
print('tagalongs:', total_tagalongs)

for x in Wendy['thin mints'],Connie['thin mints'],Francesca['thin mints']:
	thin_mints.append(x)
total_thinmints = sum(thin_mints)
print('thin mints:',total_thinmints)

for x in Wendy['samoas'],Connie['samoas'],Francesca['samoas']:
	samoas.append(x)
total_samoas = sum(samoas)
print('samoas:',total_samoas)



# For each type of girl scout cookie, print out the average number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____



avg_tagalongs = total_tagalongs/3
print('avg tagalongs:',avg_tagalongs)
avg_thinmints = total_thinmints/3
avg_samoas = total_samoas/3
print('avg thin mints:',avg_thinmints)
print('avg samoas:', avg_samoas)

### avg_thinmints = 
### avg_samoas = 

# Print out total the number of boxes of cookies the girls sold collectively as follows:
	# "This year we sold ______ boxes!"

boxes_sold = total_samoas + total_thinmints + total_tagalongs
print(f'this year we sold {boxes_sold} boxes!')

Wendy: 25
Connie: 26
Francesca: 42
tagalongs: 33
thin mints: 30
samoas: 30
avg tagalongs: 11.0
avg thin mints: 10.0
avg samoas: 10.0
this year we sold 93 boxes!



### P3.PY

In [0]:
"""
Inverting Keys & Values
"""

# Invert dict1 - make the current keys into values and the current values into keys.


dict1 = { "k1" : "v1", "k2" : "v2", "k3" : "v1" }

inverted = {}
for k, v in dict1.items():
  inverted.setdefault(v, list()).append(k)
print(inverted)

print(dict1)
# my_inverted_dict = dict()
# for key, value in my_dict.items():
#     my_inverted_dict.setdefault(value, list()).append(key)

{'v1': ['k1', 'k3'], 'v2': ['k2']}
{'k1': 'v1', 'k2': 'v2', 'k3': 'v1'}

## DICT LOOPS

### P1.PY

In [0]:
"""
Contacts
"""

# You went to a conference and got people to sign up for text updates from your startup. 
# Go through this dict to make the phone numbers readable to a computer. 

# Hint: It can't include any non-numeric
# characters.

contacts = {
	'Jamie': '1.192.168.0143',
	'Kartik': '1.837.209.1121',
	'Grant': '1.826.386.1258',
	'Brandon': '1.935.297.1147',
	'Monique': '1.702.706.1353',
	'Sohom': '1.576.619.6aa0',
}


for k, v in contacts.items(): 
	if any(x.isalpha() for x in v):	
		print(v,'is not a valid phone number')
	else:
		print(v,'is valid phone number')

	



# print('not a valid phone number')
# 	else:
# 		print('valid phone number')

1.192.168.0143 is valid phone number
1.837.209.1121 is valid phone number
1.826.386.1258 is valid phone number
1.935.297.1147 is valid phone number
1.702.706.1353 is valid phone number
1.576.619.6aa0 is not a valid phone number



### P2.PY

In [0]:
"""
Grades
"""
# Here's a dict containing students' grades from the semester's assignments.

students = {
  'Ashton': [86, 45, 98, 100],
  'Sierra': [100, 100, 100, 100],
  'Zach': [38, 49, 90, 87],
  'Manuel': [98, 92, 86, 100],
  'Felicia': [94, 87, 89, 95],
  'Ankur': [75, 77, 77, 85],
  'Ananya': [98, 94, 87, 92],
  'Nick': [79, 84, 89, 90],
  'Olivia': [83, 91, 69, 85],
  'Molly': [83, 74, 72, 90]
}

# p 1.1) Create a dict called num_grades to store each student's average numerical grade for the semester.


names = []
avg = []

for n, grades in students.items():
  avg_grade = sum(grades)/len(grades)
  avg.append(avg_grade)
  names.append(n)

num_grades = dict(zip(names,avg))
print(num_grades)

 

# p 1.2) Create a dict called letter_grades to store each student's final letter grade for the semester. 
# Use A, B, C, D, and F as grades per the standard grading scale.

letter = []

for x in num_grades.values():
  if x >= 90:
    x = 'A'
  elif x >= 80:
    x = 'B'
  elif x >= 70:
    x = 'C'
  else:
    x = 'D'
  letter.append(x)

letter_grades = dict(zip(names,letter))
print(letter_grades)

honor = []
honor_names = []
for x in letter_grades.values():
  if x == 'A':
    honor.append(x)

for x,y in letter_grades.items():
  if y == "A":
    honor_names.append(x)

honor_roll = dict(zip(honor_names,honor ))
print(honor_roll)

{'Ashton': 82.25, 'Sierra': 100.0, 'Zach': 66.0, 'Manuel': 94.0, 'Felicia': 91.25, 'Ankur': 78.5, 'Ananya': 92.75, 'Nick': 85.5, 'Olivia': 82.0, 'Molly': 79.75}
{'Ashton': 'B', 'Sierra': 'A', 'Zach': 'D', 'Manuel': 'A', 'Felicia': 'A', 'Ankur': 'C', 'Ananya': 'A', 'Nick': 'B', 'Olivia': 'B', 'Molly': 'C'}
{'Sierra': 'A', 'Manuel': 'A', 'Felicia': 'A', 'Ananya': 'A'}



### P3.PY

In [0]:
"""
Price Inventory
"""

# Imagine you're the owner of an Italian restaurant. 
# You're evaluating your pricing to make sure it's up to date with the latest costs of making each menu item 
# (see the menu prices and costs dicts below). 
# Evaluate whether each item's price returns a profit margin of at least $1.00. If it doesn't, 
# update the menu_prices dict with a new price that gives the item a $1.00 profit margin. 
# Then print out the items which you've repriced in a new dict called price_increases.

menu_prices = {
	'fettuccine bolognese': 14.99,
	'gnocchi gorgonzola': 10.99,
	'chicken parmigiano': 13.99,
	'butternut squash risotto': 9.99,
	'spaghetti carbonara': 12.99,
	'pizza margherita': 12.99,
	'chicken marsala': 13.99
}


menu_costs = {
	'fettuccine bolognese': 12.50,
	'gnocchi gorgonzola': 11.25,
	'chicken parmigiano': 11.75,
	'butternut squash risotto': 6.33,
	'spaghetti carbonara': 12.90,
	'pizza margherita': 14.00,
	'chicken marsala': 11.75
}

#subtracted menu items
menu_margins = {key: menu_prices[key] - menu_costs.get(key, 0) 
                       for key in menu_costs.keys()} 
#made two empty lists
underpriced_names = []
underpriced_items = []

#if the difference 
for k,v in menu_margins.items():
	if v < 1:
		underpriced_names.append(k)
		underpriced_items.append(v)



price_increases = dict(zip(underpriced_names,underpriced_items))

for k,v in price_increases.items():
	for v + x == 1:	
		print(x)
print(price_increases)

# price_increases =

SyntaxError: ignored

## COUNTERS CHALLENGE

### P1.PY

In [2]:
"""
Word Frequency
"""

# Print out the number of words in this movie quote. Find and print out the most common word in the quote and how many times it was used.
### Hint: You do not need a loop for this. Look up the Counter docs in python3.

from collections import Counter

princess_bride = [
'Hello', 'my', 'name', 'is', 'Inigo', 'Montoya',
'You', 'killed', 'my', 'father',
'Prepare', 'to', 'die'
]

def mode(my_list):
    ct = Counter(my_list)
    max_value = max(ct.values())
    return sorted(key for key, value in ct.items() if value == max_value)

mode(princess_bride) 




# p.s. You might use this to help analyze the most common topic in 
# comments or reviews from your users to help understand the best places to improve you product.

['my']



### P2.PY

In [0]:
"""
Summing Dict Values
"""

# Two Kindergarten teachers poll their classes for what fruit they want to eat for snacktime tomorrow. 
#Only one of them is going shopping, so she needs to know how many of each fruit she needs to buy in total. 
#Tally these up and assign them to the "shopping_list" dict.

poll1 = {'apples': 8, 'bananas': 12}
poll2 = {'apples': 6, 'bananas': 6, 'clementines': 8}

### shopping_list =